*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    margin-left: 43.5%;
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    
}

form .submit{
    margin-top: 10px;
}
h1{
    text-align: center;
}